<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <!-- Include Chart.js library -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- External javascript file -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>

<body>
    <nav>
        <ul>
            <li><a href="Table">Table</a></li>
            <li><a href="MotorCurrents">Motor Currents</a></li>
            <li><a href="CycleCounts">Cycle Counts</a></li>
            <li><a href="MotorPositions">Motor Positions</a></li>
            <li><a href="RemainCommand">Remain Command</a></li>
            <li><a href="MotorDynamics">Motor Dynamics</a></li>
            <li><a href="ControlInputOutput">Control Input/Output</a></li>
        </ul>
    </nav>

    <!-- C: Whar -->
    <div id="contentSection">
        {% block content %}
        {% endblock %}
    </div>
    {% block script %}
    {% endblock %}
</body>