{% extends 'base.html' %}
{% block content %}
<div id="motorSelectionButtons">
    <button id="buttonSpindle" class="motor-button selected-button">
        Spindle</button>
</div>
<div id="latestValues">
    <div class="chart-latestValues">
        <p class="valueTitle">Spindle Control Input</p>
        <p class="motorId">Spindle 1</p>
        <p id="latest-Spindle-chart1">0</p>
    </div>
    <div class="chart-latestValues">
        <p class="valueTitle">Spindle Control Output</p>
        <p class="motorId">Spindle 1</p>
        <p id="latest-Spindle 1-chart2">0</p>
        <p class="motorId">Spindle 2</p>
        <p id="latest-Spindle 2-chart2">0</p>
        <p class="motorId">Spindle 3</p>
        <p id="latest-Spindle 4-chart2">0</p>
    </div>
</div>
<div id="controlInputOutputGraphs" class="graph-container">
    <div class="chart-wrapper">
        <canvas id="controlInputChart"></canvas>
    </div>
    <div class="chart-wrapper">
        <canvas id="controlOutputChart"></canvas>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    // Global vars/accessible data objects
    var controlInputData, controlOutputData;
    var timerId;
    const controlInputCanvasId = 'controlInputChart';
    const controlOutputCanvasID = 'controlOutputChart';

    // Event listeners
    document.getElementById("buttonSpindle").addEventListener("click", () => onFilterButtonClick('Spindle'));
    document.addEventListener('DOMContentLoaded', async () => {
        controlInputData = await fetchDataGroupLimited('ControlInput', 51);
        controlInputData.reverse();
        createControlInputCharts(controlInputData);
        controlOutputData = await fetchDataGroupLimited('ControlOutput', 51);
        controlOutputData.reverse();
        createControlOutputCharts(controlOutputData);
        timerId = setInterval(pollServer, 1000);
    });

    function createControlInputCharts(data) {
        const controlInputLabels = Array.from({ length: 51 }, (_, i) => i); // Sequential x-axis values
        const controlInputDatasets = createDatasets(controlInputData, ['Spindle']);
        // Create line chart with datasets for 'ControlInput'
        createLineChart(controlInputCanvasId, controlInputLabels, controlInputDatasets, 'ControlInput');
    }

    function createControlOutputCharts(data) {
        const controlOutputlabels = Array.from({ length: 51 }, (_, i) => i); // Sequential x-axis values
        const controlOutputDatasets = createDatasets(controlOutputData, ['Spindle 1', 'Spindle 2', 'Spindle 3']);
        // Create line chart with datasets for 'ControlOutput'
        createLineChart(controlOutputCanvasID, controlOutputlabels, controlOutputDatasets, 'ControlOutput');
    }

    function onFilterButtonClick(motor) {
        const button = document.getElementById(`button${motor}`);
        button.classList.toggle("selected-button");
        datasetFilter(controlInputCanvasId, motor);
        datasetFilter(controlOutputCanvasID, motor);
    }

    async function pollServer() {
        const alphabetArray = ['Spindle 1', 'Spindle 2', '', 'Spindle 3'];
        for(var i = 0; i < 1; i++)  {
            const latestRecord = await fetchDataSingular(`ControlInput${i+1}1`);
            if(controlInputData.length >= 50)
                controlInputData.shift();
            controlInputData.push(latestRecord);
            shiftLineChartData(controlInputCanvasId, 'Spindle', latestRecord);
            document.getElementById(`latest-Spindle-chart1`).innerHTML = latestRecord[0].Value;
        }
        for(var i = 0; i < 4; i++)  {
            if(i == 2)
                continue;
            const latestRecord = await fetchDataSingular(`ControlOutput${i+1}1`);
            controlOutputData.shift();
            controlOutputData.push(latestRecord);
            shiftLineChartData(controlOutputCanvasID, `${alphabetArray[i]}`, latestRecord);
            document.getElementById(`latest-Spindle ${i+1}-chart2`).innerHTML = latestRecord[0].Value;
        }
    }
</script>
{% endblock%}