{% extends 'base.html' %}
{% block content %}
<div class="flexbox overall-flexbox">
    <div class="chart-container">
        <div class="flexbox">
            <div class="motorId">Motor X<br>
                <div class="latestValue" id="latest-X-chart1">0</div>
            </div>
            <div class="motorId">Motor Y<br>
                <div class="latestValue" id="latest-Y-chart1">0</div>
            </div>
            <div class="motorId">Motor Z<br>
                <div class="latestValue" id="latest-Z-chart1">0</div>
            </div>
        </div>
        <canvas id="cycleCountsChart"></canvas>
        <div class="flexbox">
            <button id="buttonX1" class="motor-button selected-button">
                Motor X</button>
            <button id="buttonY1" class="motor-button selected-button">
                Motor Y</button>
            <button id="buttonZ1" class="motor-button selected-button">
                Motor Z</button>
        </div>
    </div>
    <div class="chart-container">
        <div class="flexbox">
            <div class="motorId">Spindle<br>
                <div class="latestValue" id="latest-Spindle-chart2">0</div>
            </div>
        </div>
        <canvas id="cycleCountsSpindleChart"></canvas>
        <div class="flexbox">
            <button id="buttonSpindle2" class="motor-button selected-button">
                Spindle</button>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    // Global vars/accessible data objects
    var CYCCNTData, CycleCountData;
    var timerId;
    const cycleCountsCanvasId = 'cycleCountsChart';
    const cycleCountsSpindleCanvasId = 'cycleCountsSpindleChart';

    // Event listeners
    document.getElementById("buttonX1").addEventListener("click", () => onFilterButtonClick('X', 1));
    document.getElementById("buttonY1").addEventListener("click", () => onFilterButtonClick('Y', 1));
    document.getElementById("buttonZ1").addEventListener("click", () => onFilterButtonClick('Z', 1));
    document.getElementById("buttonSpindle2").addEventListener("click", () => onFilterButtonClick('Spindle', 2));
    document.addEventListener('DOMContentLoaded', async () => {
        CYCCNTData = await fetchDataGroupLimited('CYCCNT', 51);
        CYCCNTData.reverse();
        createCYCCNTCharts(CYCCNTData);
        CycleCountData = await fetchDataGroupLimited('CycleCount', 51);
        CycleCountData.reverse();
        createCycleCountCharts(CycleCountData);
        timerId = setInterval(pollServer, 1000);
    });

    // Function to update the 'CYCCNT' line chart
    function createCYCCNTCharts(data) {
        const cyccntLabels = Array.from({ length: 51 }, (_, i) => i); // Sequential x-axis values
        const cyccntDatasets = createDatasets(CYCCNTData, ['X', 'Y', 'Z']);
        // Create line chart with datasets for 'CYCCNT'
        createLineChart(cycleCountsCanvasId, cyccntLabels, cyccntDatasets, 'CYCCNT');
    }

    // Function to update the 'SpindleCount' line chart
    function createCycleCountCharts(data) {
        const cycleCountlabels = Array.from({ length: 51 }, (_, i) => i); // Sequential x-axis values
        const cycleCountDatasets = createDatasets(CycleCountData, ['Spindle']);
        // Create line chart with datasets for 'CycleCount'
        createLineChart(cycleCountsSpindleCanvasId, cycleCountlabels, cycleCountDatasets, 'CycleCount');
    }

    function onFilterButtonClick(motor, chartNo) {
        const button = document.getElementById(`button${motor}${chartNo}`);
        button.classList.toggle("selected-button");
        switch(chartNo) {
            case 1: 
                datasetFilter(cycleCountsCanvasId, motor);
                break;
            case 2:
                datasetFilter(cycleCountsSpindleCanvasId, motor);
                break;
            default:
                break;
        }
    }

    async function pollServer() {
        const alphabetArray = ['X', 'Y', 'Z', 'Spindle'];
        for(var i = 0; i < 3; i++)  {
            const latestRecord = await fetchDataSingular(`CYCCNT${i+1}`);
            CYCCNTData.shift();
            CYCCNTData.push(latestRecord);
            shiftLineChartData(cycleCountsCanvasId, `${alphabetArray[i]}`, latestRecord);
            document.getElementById(`latest-${alphabetArray[i]}-chart1`).innerHTML = latestRecord[0].Value;
        }
        for(var i = 0; i < 1; i++)  {
            const latestRecord = await fetchDataSingular(`CycleCount${i+1}`);
            CycleCountData.shift();
            CycleCountData.push(latestRecord);
            shiftLineChartData(cycleCountsSpindleCanvasId, `${alphabetArray[3]}`, latestRecord);
            document.getElementById(`latest-${alphabetArray[3]}-chart2`).innerHTML = latestRecord[0].Value;
        }
    }
</script>
{% endblock%}