{% extends 'base.html' %}
{% block content %}
<div class="flexbox overall-flexbox">
    <div class="chart-container">
        <div class="flexbox">
            <div class="motorId">Motor X<br>
                <div class="latestValue" id="latest-X-chart1">0</div>
            </div>
            <div class="motorId">Motor Y<br>
                <div class="latestValue" id="latest-Y-chart1">0</div>
            </div>
            <div class="motorId">Motor Z<br>
                <div class="latestValue" id="latest-Z-chart1">0</div>
            </div>
            <div class="motorId">Spindle<br>
                <div class="latestValue" id="latest-Spindle-chart1">0</div>
            </div>
        </div>
        <canvas id="GainChart"></canvas>
        <div class="flexbox">
            <button id="buttonX1" class="motor-button selected-button">
                Motor X</button>
            <button id="buttonY1" class="motor-button selected-button">
                Motor Y</button>
            <button id="buttonZ1" class="motor-button selected-button">
                Motor Z</button>
            <button id="buttonSpindle1" class="motor-button selected-button">
                Spindle</button>
        </div>
    </div>
    <div class="chart-container">
        <div class="flexbox">
            <div class="motorId">Motor X<br>
                <div class="latestValue" id="latest-X-chart2">0</div>
            </div>
            <div class="motorId">Motor Y<br>
                <div class="latestValue" id="latest-Y-chart2">0</div>
            </div>
            <div class="motorId">Motor Z<br>
                <div class="latestValue" id="latest-Z-chart2">0</div>
            </div>
            <div class="motorId">Spindle<br>
                <div class="latestValue" id="latest-Spindle-chart2">0</div>
            </div>
        </div>
        <canvas id="DroopChart"></canvas>
        <div class="flexbox">
            <button id="buttonX2" class="motor-button selected-button">
                Motor X</button>
            <button id="buttonY2" class="motor-button selected-button">
                Motor Y</button>
            <button id="buttonZ2" class="motor-button selected-button">
                Motor Z</button>
            <button id="buttonSpindle2" class="motor-button selected-button">
                Spindle</button>
        </div>
    </div>
    <div class="chart-container">
        <div class="flexbox">
            <div class="motorId">Motor X<br>
                <div class="latestValue" id="latest-X-chart3">0</div>
            </div>
            <div class="motorId">Motor Y<br>
                <div class="latestValue" id="latest-Y-chart3">0</div>
            </div>
            <div class="motorId">Motor Z<br>
                <div class="latestValue" id="latest-Z-chart3">0</div>
            </div>
        </div>
        <canvas id="SpeedChart"></canvas>
        <div class="flexbox">
            <button id="buttonX3" class="motor-button selected-button">
                Motor X</button>
            <button id="buttonY3" class="motor-button selected-button">
                Motor Y</button>
            <button id="buttonZ3" class="motor-button selected-button">
                Motor Z</button>
        </div>
    </div>
    <div class="chart-container">
        <div class="flexbox">
            <div class="motorId">Spindle<br>
                <div class="latestValue" id="latest-Spindle-chart4">0</div>
            </div>
        </div>
        <canvas id="LoadChart"></canvas>
        <div class="flexbox">
            <button id="buttonSpindle4" class="motor-button selected-button">
                Spindle</button>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    // Global vars/accessible data objects
    var GainData, DroopData, SpeedData, LoadData;
    var timerId;
    const GainCanvasId = 'GainChart';
    const DroopCanvasId = 'DroopChart';
    const SpeedCanvasId = 'SpeedChart';
    const LoadCanvasId = 'LoadChart';

    // Event listeners
    // Future reference: There is a more efficient way of doing this but I have time constraints
    // Refer to: https://stackoverflow.com/questions/49680484/how-to-add-one-event-listener-for-all-buttons
    document.getElementById("buttonX1").addEventListener("click", () => onFilterButtonClick('X', 1));
    document.getElementById("buttonY1").addEventListener("click", () => onFilterButtonClick('Y', 1));
    document.getElementById("buttonZ1").addEventListener("click", () => onFilterButtonClick('Z', 1));
    document.getElementById("buttonSpindle1").addEventListener("click", () => onFilterButtonClick('Spindle', 1));
    document.getElementById("buttonX2").addEventListener("click", () => onFilterButtonClick('X', 2));
    document.getElementById("buttonY2").addEventListener("click", () => onFilterButtonClick('Y', 2));
    document.getElementById("buttonZ2").addEventListener("click", () => onFilterButtonClick('Z', 2));
    document.getElementById("buttonSpindle2").addEventListener("click", () => onFilterButtonClick('Spindle', 2));
    document.getElementById("buttonX3").addEventListener("click", () => onFilterButtonClick('X', 3));
    document.getElementById("buttonY3").addEventListener("click", () => onFilterButtonClick('Y', 3));
    document.getElementById("buttonZ3").addEventListener("click", () => onFilterButtonClick('Z', 3));
    document.getElementById("buttonSpindle4").addEventListener("click", () => onFilterButtonClick('Spindle', 4));
    document.addEventListener('DOMContentLoaded', async () => {
        GainData = await fetchDataGroupLimited('Gain', 51);
        GainData.reverse();
        createGainChart(GainData);
        DroopData = await fetchDataGroupLimited('Droop', 51);
        DroopData.reverse();
        createDroopChart(DroopData);
        SpeedData = await fetchDataGroupLimited('Speed', 51);
        SpeedData.reverse();
        createSpeedChart(SpeedData);
        LoadData = await fetchDataGroupLimited('Load', 51);
        LoadData.reverse();
        createLoadChart(LoadData);
        timerId = setInterval(pollServer, 1000);
    });

    function createGainChart(data) {
        const Gainlabels = Array.from({ length: 51 }, (_, i) => i); // Sequential x-axis values
        const GainDataset = createDatasets(GainData, ['X', 'Y', 'Z', 'Spindle']);
        // Create line chart with datasets for 'Gain'
        createLineChart(GainCanvasId, Gainlabels, GainDataset, 'Gain');
    }

    function createDroopChart(data) {
        const Drooplabels = Array.from({ length: 51 }, (_, i) => i); // Sequential x-axis values
        const DroopDatasets = createDatasets(DroopData, ['X', 'Y', 'Z', 'Spindle']);
        // Create line chart with datasets for 'MAXCUR'
        createLineChart(DroopCanvasId, Drooplabels, DroopDatasets, 'Droop');
    }

    function createSpeedChart(data) {
        const Speedlabels = Array.from({ length: 51 }, (_, i) => i); // Sequential x-axis values
        const SpeedDatasets = createDatasets(SpeedData, ['X', 'Y', 'Z', 'Spindle']);
        // Create line chart with datasets for 'Speed'
        createLineChart(SpeedCanvasId, Speedlabels, SpeedDatasets, 'Speed');
    }

    function createLoadChart(data) {
        const Loadlabels = Array.from({ length: 51 }, (_, i) => i); // Sequential x-axis values
        const LoadDatasets = createDatasets(LoadData, ['X', 'Y', 'Z', 'Spindle']);
        // Create line chart with datasets for 'Load'
        createLineChart(LoadCanvasId, Loadlabels, LoadDatasets, 'Load');
    }

    function onFilterButtonClick(motor, chartNo) {
        const button = document.getElementById(`button${motor}${chartNo}`);
        button.classList.toggle("selected-button");
        switch(chartNo) {
            case 1:
                datasetFilter(GainCanvasId, motor);
                break;
            case 2:
                datasetFilter(DroopCanvasId, motor);
                break;
            case 3:
                datasetFilter(SpeedCanvasId, motor);
                break;
            case 4:
                datasetFilter(LoadCanvasId, motor);
                break;
        }
    }

    async function pollServer() {
        const alphabetArray = ['X', 'Y', 'Z', 'Spindle'];
        for(var i = 0; i < 3; i++)  {
            const latestRecord = await fetchDataSingular(`ServoMonitor_Gain${i+1}`);
            GainData.shift();
            GainData.push(latestRecord);
            shiftLineChartData(GainCanvasId, `${alphabetArray[i]}`, latestRecord);
            document.getElementById(`latest-${alphabetArray[i]}-chart1`).innerHTML = latestRecord[0].Value;
        }  
        var latestRecord = await fetchDataSingular('SpindleMonitor_Gain1');
        GainData.shift();
        GainData.push(latestRecord);
        shiftLineChartData(GainCanvasId, `${alphabetArray[3]}`, latestRecord);
        document.getElementById(`latest-${alphabetArray[3]}-chart1`).innerHTML = latestRecord[0].Value;
        for(var i = 0; i < 3; i++)  {
            const latestRecord = await fetchDataSingular(`ServoMonitor_Droop${i+1}`);
            DroopData.shift();
            DroopData.push(latestRecord);
            shiftLineChartData(DroopCanvasId, `${alphabetArray[i]}`, latestRecord);
            document.getElementById(`latest-${alphabetArray[i]}-chart2`).innerHTML = latestRecord[0].Value;
        }
        latestRecord = await fetchDataSingular('SpindleMonitor_Droop1');
        GainData.shift();
        GainData.push(latestRecord);
        shiftLineChartData(DroopCanvasId, `${alphabetArray[3]}`, latestRecord);
        document.getElementById(`latest-${alphabetArray[3]}-chart2`).innerHTML = latestRecord[0].Value;
        for(var i = 0; i < 3; i++)  {
            const latestRecord = await fetchDataSingular(`Speed${i+1}`);
            SpeedData.shift();
            SpeedData.push(latestRecord);
            shiftLineChartData(SpeedCanvasId, `${alphabetArray[i]}`, latestRecord);
            document.getElementById(`latest-${alphabetArray[i]}-chart3`).innerHTML = latestRecord[0].Value;
        }
        for(var i = 0; i < 1; i++)  {
            const latestRecord = await fetchDataSingular(`Load${i+1}`);
            LoadData.shift();
            LoadData.push(latestRecord);
            shiftLineChartData(LoadCanvasId, `${alphabetArray[3]}`, latestRecord);
            document.getElementById(`latest-${alphabetArray[3]}-chart4`).innerHTML = latestRecord[0].Value;
        }
    }
</script>
{% endblock%}