{% extends 'base.html' %}
{% block content %}
<div id="motorSelectionButtons">
    <button id="buttonX" class="motor-button selected-button">
        Motor X</button>
    <button id="buttonY" class="motor-button selected-button">
        Motor Y</button>
    <button id="buttonZ" class="motor-button selected-button">
        Motor Z</button>
    <button id="buttonSpindle" class="motor-button selected-button">
        Spindle</button>
</div>
<div id="latestValues">
    <div class="chart-latestValues">
        <p class="valueTitle">Gain</p>
        <p class="motorId">Motor X</p>
        <p id="latest-X-chart1">0</p>
        <p class="motorId">Motor Y</p>
        <p id="latest-Y-chart1">0</p>
        <p class="motorId">Motor Z</p>
        <p id="latest-Z-chart1">0</p>
        <p class="motorId">Spindle</p>
        <p id="latest-Spindle-chart1">0</p>
    </div>
    <div class="chart-latestValues">
        <p class="valueTitle">Droop</p>
        <p class="motorId">Motor X</p>
        <p id="latest-X-chart2">0</p>
        <p class="motorId">Motor Y</p>
        <p id="latest-Y-chart2">0</p>
        <p class="motorId">Motor Z</p>
        <p id="latest-Z-chart2">0</p>
        <p class="motorId">Spindle</p>
        <p id="latest-Spindle-chart2">0</p>
    </div>
    <div class="chart-latestValues">
        <p class="valueTitle">Speed</p>
        <p class="motorId">Motor X</p>
        <p id="latest-X-chart3">0</p>
        <p class="motorId">Motor Y</p>
        <p id="latest-Y-chart3">0</p>
        <p class="motorId">Motor Z</p>
        <p id="latest-Z-chart3">0</p>
        <p class="motorId">Spindle</p>
        <p id="latest-Spindle-chart3">0</p>
    </div>
    <div class="chart-latestValues">
        <p class="valueTitle">Load</p>
        <p class="motorId">Spindle</p>
        <p id="latest-Spindle-chart4">0</p>
    </div>
</div>
<div id="motorDynamicsGraphs" class="graph-container">
    <div class="chart-wrapper">
        <canvas id="GainChart"></canvas>
    </div>
    <div class="chart-wrapper">
        <canvas id="DroopChart"></canvas>
    </div>
    <br>
    <div class="chart-wrapper">
        <canvas id="SpeedChart"></canvas>
    </div>
    <div class="chart-wrapper">
        <canvas id="LoadChart"></canvas>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    // Global vars/accessible data objects
    var GainData, DroopData, SpeedData, LoadData;
    var timerId;
    const GainCanvasId = 'GainChart';
    const DroopCanvasId = 'DroopChart';
    const SpeedCanvasId = 'SpeedChart';
    const LoadCanvasId = 'LoadChart';

    // Event listeners
    document.getElementById("buttonX").addEventListener("click", () => onFilterButtonClick('X'));
    document.getElementById("buttonY").addEventListener("click", () => onFilterButtonClick('Y'));
    document.getElementById("buttonZ").addEventListener("click", () => onFilterButtonClick('Z'));
    document.getElementById("buttonSpindle").addEventListener("click", () => onFilterButtonClick('Spindle'));
    document.addEventListener('DOMContentLoaded', async () => {
        GainData = await fetchDataGroupLimited('Gain', 51);
        GainData.reverse();
        createGainChart(GainData);
        DroopData = await fetchDataGroupLimited('Droop', 51);
        DroopData.reverse();
        createDroopChart(DroopData);
        SpeedData = await fetchDataGroupLimited('Speed', 51);
        SpeedData.reverse();
        createSpeedChart(SpeedData);
        LoadData = await fetchDataGroupLimited('Load', 51);
        LoadData.reverse();
        createLoadChart(LoadData);
        timerId = setInterval(pollServer, 1000);
    });

    function createGainChart(data) {
        const Gainlabels = Array.from({ length: 51 }, (_, i) => i); // Sequential x-axis values
        const GainDataset = createDatasets(GainData, ['X', 'Y', 'Z', 'Spindle']);
        // Create line chart with datasets for 'Gain'
        createLineChart(GainCanvasId, Gainlabels, GainDataset, 'Gain');
    }

    function createDroopChart(data) {
        const Drooplabels = Array.from({ length: 51 }, (_, i) => i); // Sequential x-axis values
        const DroopDatasets = createDatasets(DroopData, ['X', 'Y', 'Z', 'Spindle']);
        // Create line chart with datasets for 'MAXCUR'
        createLineChart(DroopCanvasId, Drooplabels, DroopDatasets, 'Droop');
    }

    function createSpeedChart(data) {
        const Speedlabels = Array.from({ length: 51 }, (_, i) => i); // Sequential x-axis values
        const SpeedDatasets = createDatasets(SpeedData, ['X', 'Y', 'Z', 'Spindle']);
        // Create line chart with datasets for 'Speed'
        createLineChart(SpeedCanvasId, Speedlabels, SpeedDatasets, 'Speed');
    }

    function createLoadChart(data) {
        const Loadlabels = Array.from({ length: 51 }, (_, i) => i); // Sequential x-axis values
        const LoadDatasets = createDatasets(LoadData, ['X', 'Y', 'Z', 'Spindle']);
        // Create line chart with datasets for 'Load'
        createLineChart(LoadCanvasId, Loadlabels, LoadDatasets, 'Load');
    }

    function onFilterButtonClick(motor) {
        const button = document.getElementById(`button${motor}`);
        button.classList.toggle("selected-button");
        datasetFilter(GainCanvasId, motor);
        datasetFilter(DroopCanvasId, motor);
        datasetFilter(SpeedCanvasId, motor);
        datasetFilter(LoadCanvasId, motor);
    }

    async function pollServer() {
        const alphabetArray = ['X', 'Y', 'Z', 'Spindle'];
        for(var i = 0; i < 3; i++)  {
            const latestRecord = await fetchDataSingular(`ServoMonitor_Gain${i+1}`);
            GainData.shift();
            GainData.push(latestRecord);
            shiftLineChartData(GainCanvasId, `${alphabetArray[i]}`, latestRecord);
            document.getElementById(`latest-${alphabetArray[i]}-chart1`).innerHTML = latestRecord[0].Value;
        }  
        var latestRecord = await fetchDataSingular('SpindleMonitor_Gain1');
        GainData.shift();
        GainData.push(latestRecord);
        shiftLineChartData(GainCanvasId, `${alphabetArray[3]}`, latestRecord);
        document.getElementById(`latest-${alphabetArray[3]}-chart1`).innerHTML = latestRecord[0].Value;
        for(var i = 0; i < 3; i++)  {
            const latestRecord = await fetchDataSingular(`ServoMonitor_Droop${i+1}`);
            DroopData.shift();
            DroopData.push(latestRecord);
            shiftLineChartData(DroopCanvasId, `${alphabetArray[i]}`, latestRecord);
            document.getElementById(`latest-${alphabetArray[i]}-chart2`).innerHTML = latestRecord[0].Value;
        }
        latestRecord = await fetchDataSingular('SpindleMonitor_Droop1');
        GainData.shift();
        GainData.push(latestRecord);
        shiftLineChartData(DroopCanvasId, `${alphabetArray[3]}`, latestRecord);
        document.getElementById(`latest-${alphabetArray[3]}-chart2`).innerHTML = latestRecord[0].Value;
        for(var i = 0; i < 3; i++)  {
            const latestRecord = await fetchDataSingular(`Speed${i+1}`);
            SpeedData.shift();
            SpeedData.push(latestRecord);
            shiftLineChartData(SpeedCanvasId, `${alphabetArray[i]}`, latestRecord);
            document.getElementById(`latest-${alphabetArray[i]}-chart3`).innerHTML = latestRecord[0].Value;
        }
        for(var i = 0; i < 1; i++)  {
            const latestRecord = await fetchDataSingular(`Load${i+1}`);
            LoadData.shift();
            LoadData.push(latestRecord);
            shiftLineChartData(LoadCanvasId, `${alphabetArray[3]}`, latestRecord);
            document.getElementById(`latest-${alphabetArray[3]}-chart4`).innerHTML = latestRecord[0].Value;
        }
    }
</script>
{% endblock%}