{% extends 'base.html' %}
{% block body %}
    <div id="motorSelectionButtons">
        <button id="buttonX" class="motor-button selected-button" onclick="toggleMotorSelection('X', data)">
            Motor X</button>
        <button id="buttonY" class="motor-button selected-button" onclick="toggleMotorSelection('Y', data)">
            Motor Y</button>
        <button id="buttonZ" class="motor-button selected-button" onclick="toggleMotorSelection('Z', data)">
            Motor Z</button>
        <button id="buttonSpindle" class="motor-button selected-button" onclick="toggleMotorSelection('Spindle', data)">
            Spindle</button>
    </div>
    <div id="latestValues">
        <h2>Motor Currents</h2>
        <h3>Motor X</h3>
        <p id="latest-X">0</p>
        <h3>Motor Y</h3>
        <p id="latest-Y">0</p>
        <h3>Motor Z</h3>
        <p id="latest-Z">0</p>
    </div>
    <div id="currentGraphs" class="graph-container">
        <div class="chart-wrapper">
            <canvas id="currentChart" width="40%" height="40%"></canvas>
        </div>
        <div class="chart-wrapper">
            <canvas id="maxcurChart" width="40%" height="40%"></canvas>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        document.addEventListener('DOMContentLoaded', async function ()   {
            /*
            // Ideally, the data is already filtered server-side so the entire database isnt passed to client,
            // then the client has to filter it.
            */
            filterUpdateCurrentChart(await fetchDataGroup('Current'));
            filterUpdateMaxcurChart(await fetchDataGroup('MAXCUR'))
        });

        // Function to update the 'Current' and 'MAXCUR' line chart
        function filterUpdateCurrentChart(data) {
            const currentLabels = Array.from({ length: data.length }, (_, i) => i + 1); // Sequential x-axis values
            const currentData = data.filter(row => [7, 1, 5].includes(row.NodeKey));
            const currentDatasets = createDatasets(currentData, ['X', 'Y', 'Z'], ['#FFC3A0', '#A0FFC3', '#A0C3FF']);
            // Create line chart with datasets for 'Current'
            createLineChart(currentChartId, currentLabels, currentDatasets, 'Current');
        }

        function filterUpdateMaxcurChart(data)   {
                const maxCurlabels = Array.from({ length: data.length }, (_, i) => i + 1); // Sequential x-axis values
                const maxCurData = data.filter(row => [6, 8, 39, 40, 41, 42].includes(row.NodeKey));
                const maxCurDatasets = createDatasets(maxCurData, ['X', 'Y', 'Z'], ['#FF8C66', '#66FF8C', '#668CFF']);
                // Create line chart with datasets for 'MAXCUR'
                createLineChart(maxCurChartId, maxCurlabels, maxCurDatasets, 'MAXCUR');
            }
    </script>
{% endblock%}