{% extends 'base.html' %}
{% block content %}
<div class="flexbox overall-flexbox">
    <div class="chart-container">
        <div class="flexbox">
            <div class="motorId">Motor X<br>
                <div class="latestValue" id="latest-X-chart1">0</div>
            </div>
            <div class="motorId">Motor Y<br>
                <div class="latestValue" id="latest-Y-chart1">0</div>
            </div>
            <div class="motorId">Motor Z<br>
                <div class="latestValue" id="latest-Z-chart1">0</div>
            </div>
        </div>
        <canvas id="currentChart"></canvas>
        <div class="flexbox">
            <button id="buttonX1" class="motor-button selected-button">
                Motor X</button>
            <button id="buttonY1" class="motor-button selected-button">
                Motor Y</button>
            <button id="buttonZ1" class="motor-button selected-button">
                Motor Z</button>
        </div>
    </div>
    <div class="chart-container">
        <div class="flexbox">
            <div class="motorId">Motor X
                <div class="latestValue" id="latest-X-chart2">0</div>
            </div>
            <div class="motorId">Motor Y
                <div class="latestValue" id="latest-Y-chart2">0</div>
            </div>
            <div class="motorId">Motor Z
                <div class="latestValue" id="latest-Z-chart2">0</div>
            </div>
        </div>
        <canvas id="maxCurChart"></canvas>
        <div class="flexbox">
            <button id="buttonX2" class="motor-button selected-button">
                Motor X</button>
            <button id="buttonY2" class="motor-button selected-button">
                Motor Y</button>
            <button id="buttonZ2" class="motor-button selected-button">
                Motor Z</button>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    // Global vars/accessible data objects
    var CurrentData, MAXCURData;
    var timerId;
    const currentCanvasId = 'currentChart';
    const maxCurCanvasId = 'maxCurChart';

    // Event listeners
    document.getElementById("buttonX1").addEventListener("click", () => onFilterButtonClick('X', 1));
    document.getElementById("buttonY1").addEventListener("click", () => onFilterButtonClick('Y', 1));
    document.getElementById("buttonZ1").addEventListener("click", () => onFilterButtonClick('Z', 1));
    document.getElementById("buttonX2").addEventListener("click", () => onFilterButtonClick('X', 2));
    document.getElementById("buttonY2").addEventListener("click", () => onFilterButtonClick('Y', 2));
    document.getElementById("buttonZ2").addEventListener("click", () => onFilterButtonClick('Z', 2));
    document.addEventListener('DOMContentLoaded', async () => {
        CurrentData = await fetchDataGroupLimited('Current', 51);
        CurrentData.reverse();
        createCurrentChart();
        MAXCURData = await fetchDataGroupLimited('MAXCUR', 51);
        MAXCURData.reverse();
        createMaxcurChart();
        timerId = setInterval(pollServer, 1000);
    });

    function createCurrentChart() {
        const currentLabels = createLabels(CurrentData, 'X'); // Second parameter can be any of the dataset names (it is supposed to be kinda inaccurate)
        const currentDataset = createDataset(CurrentData, ['X', 'Y', 'Z']);
        // Create line chart with dataset for 'Current'
        createLineChart(currentCanvasId, currentLabels, currentDataset, 'Current');
    }

    function createMaxcurChart() {
        const maxCurlabels = createLabels(MAXCURData, 'X'); // Second parameter can be any of the dataset names (it is supposed to be kinda inaccurate)
        const maxCurDataset = createDataset(MAXCURData, ['X', 'Y', 'Z']);
        // Create line chart with dataset for 'MAXCUR'
        createLineChart(maxCurCanvasId, maxCurlabels, maxCurDataset, 'MAXCUR');
    }

    function onFilterButtonClick(motor, chartNo) {
        const button = document.getElementById(`button${motor}${chartNo}`);
        button.classList.toggle("selected-button");
        switch(chartNo) {
            case 1: 
                datasetFilter(currentCanvasId, motor);
                break;
            case 2:
                datasetFilter(maxCurCanvasId, motor);
                break;
            default:
                break;
        }
    }

    async function pollServer() {
        const alphabetArray = ['X', 'Y', 'Z'];
        const systemTime = new Date().getTime();
        // Shift x-axis labels for currentChart
        let chart = Chart.getChart(document.getElementById(currentCanvasId).getContext('2d'));
        chart.data.labels.push(systemTime);
        chart.data.labels.shift();
        for(var i = 0; i < 3; i++)  {
            const latestRecord = await fetchDataSingular(`Current${i+1}`);
            CurrentData.shift();
            CurrentData.push(latestRecord);
            shiftLineChartData(currentCanvasId, `${alphabetArray[i]}`, latestRecord);
            document.getElementById(`latest-${alphabetArray[i]}-chart1`).innerHTML = latestRecord[0].Value;
        }
        // Shift x-axis labels for maxCurChart
        chart = Chart.getChart(document.getElementById(maxCurCanvasId).getContext('2d'));
        chart.data.labels.push(systemTime);
        chart.data.labels.shift();
        for(var i = 0; i < 3; i++)  {
            const latestRecord = await fetchDataSingular(`MAXCUR2${i+1}`);
            MAXCURData.shift();
            MAXCURData.push(latestRecord);
            shiftLineChartData(maxCurCanvasId, `${alphabetArray[i]}`, latestRecord);
            document.getElementById(`latest-${alphabetArray[i]}-chart2`).innerHTML = latestRecord[0].Value;
        }
    }
</script>
{% endblock%}