{% extends 'base.html' %}
{% block content %}
<div id="motorSelectionButtons">
    <button id="buttonX" class="motor-button selected-button">
        Motor X</button>
    <button id="buttonY" class="motor-button selected-button">
        Motor Y</button>
    <button id="buttonZ" class="motor-button selected-button">
        Motor Z</button>
</div>
<div id="latestValues">
    <div class="chart-latestValues">
        <p class="valueTitle">MACPOS</p>
        <p class="motorId">Motor X</p>
        <p id="latest-X-chart1">0</p>
        <p class="motorId">Motor Y</p>
        <p id="latest-Y-chart1">0</p>
        <p class="motorId">Motor Z</p>
        <p id="latest-Z-chart1">0</p>
    </div>
    <div class="chart-latestValues">
        <p class="valueTitle">MATPOS</p>
        <p class="motorId">Motor X</p>
        <p id="latest-X-chart2">0</p>
        <p class="motorId">Motor Y</p>
        <p id="latest-Y-chart2">0</p>
        <p class="motorId">Motor Z</p>
        <p id="latest-Z-chart2">0</p>
    </div>
    <div class="chart-latestValues">
        <p class="valueTitle">SCAPOS</p>
        <p class="motorId">Motor X</p>
        <p id="latest-X-chart3">0</p>
        <p class="motorId">Motor Y</p>
        <p id="latest-Y-chart3">0</p>
        <p class="motorId">Motor Z</p>
        <p id="latest-Z-chart3">0</p>
    </div>
    <div class="chart-latestValues">
        <p class="valueTitle">Current Position</p>
        <p class="motorId">Motor X</p>
        <p id="latest-X-chart4">0</p>
        <p class="motorId">Motor Y</p>
        <p id="latest-Y-chart4">0</p>
        <p class="motorId">Motor Z</p>
        <p id="latest-Z-chart4">0</p>
    </div>
</div>
<div id="currentGraphs" class="graph-container">
    <div class="chart-wrapper">
        <canvas id="MACPOSChart"></canvas>
    </div>
    <div class="chart-wrapper">
        <canvas id="MATPOSChart"></canvas>
    </div>
    <br>
    <div class="chart-wrapper">
        <canvas id="SCAPOSChart"></canvas>
    </div>
    <div class="chart-wrapper">
        <canvas id="CURPOSChart"></canvas>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    // Global vars/accessible data objects
    var MACPOSData, MATPOSData, SCAPOSData, CURPOSData;
    var timerId;
    const MACPOSCanvasId = 'MACPOSChart';
    const MATPOSCanvasId = 'MATPOSChart';
    const SCAPOSCanvasId = 'SCAPOSChart';
    const CURPOSCanvasId = 'CURPOSChart';

    // Event listeners
    document.getElementById("buttonX").addEventListener("click", () => onFilterButtonClick('X'));
    document.getElementById("buttonY").addEventListener("click", () => onFilterButtonClick('Y'));
    document.getElementById("buttonZ").addEventListener("click", () => onFilterButtonClick('Z'));
    document.addEventListener('DOMContentLoaded', async () => {
        MACPOSData = await fetchDataGroupLimited('MACPOS', 51);
        MACPOSData.reverse();
        createMACPOSChart(MACPOSData);
        MATPOSData = await fetchDataGroupLimited('MATPOS', 51);
        MATPOSData.reverse();
        createMATPOSChart(MATPOSData);
        SCAPOSData = await fetchDataGroupLimited('SCAPOS', 51);
        SCAPOSData.reverse();
        createSCAPOSChart(SCAPOSData);
        CURPOSData = await fetchDataGroupLimited('CurrentPosition', 51);
        CURPOSData.reverse();
        createCURPOSChart(CURPOSData);
        timerId = setInterval(pollServer, 1000);
    });

    // Function to update the 'Current' line chart
    function createMACPOSChart(data) {
        const MACPOSlabels = Array.from({ length: 51 }, (_, i) => i); // Sequential x-axis values
        const MACPOSdataset = createDatasets(MACPOSData, ['X', 'Y', 'Z']);
        // Create line chart with datasets for 'Current'
        createLineChart(MACPOSCanvasId, MACPOSlabels, MACPOSdataset, 'MACPOS');
    }

    // Function to create the 'MAXCUR' line chart
    function createMATPOSChart(data) {
        const MATPOSlabels = Array.from({ length: 51 }, (_, i) => i); // Sequential x-axis values
        const MATPOSDatasets = createDatasets(MATPOSData, ['X', 'Y', 'Z']);
        // Create line chart with datasets for 'MAXCUR'
        createLineChart(MATPOSCanvasId, MATPOSlabels, MATPOSDatasets, 'MATPOS');
    }

    function createSCAPOSChart(data) {
        const SCAPOSlabels = Array.from({ length: 51 }, (_, i) => i); // Sequential x-axis values
        const SCAPOSDatasets = createDatasets(SCAPOSData, ['X', 'Y', 'Z']);
        // Create line chart with datasets for 'MAXCUR'
        createLineChart(SCAPOSCanvasId, SCAPOSlabels, SCAPOSDatasets, 'SCAPOS');
    }

    function createCURPOSChart(data) {
        const CURPOSlabels = Array.from({ length: 51 }, (_, i) => i); // Sequential x-axis values
        const CURPOSDatasets = createDatasets(CURPOSData, ['X', 'Y', 'Z']);
        // Create line chart with datasets for 'CURPOS'
        createLineChart(CURPOSCanvasId, CURPOSlabels, CURPOSDatasets, 'CurrentPosition');
    }

    function onFilterButtonClick(motor) {
        const button = document.getElementById(`button${motor}`);
        button.classList.toggle("selected-button");

        datasetFilter(MACPOSCanvasId, motor);
        datasetFilter(MATPOSCanvasId, motor);
        datasetFilter(SCAPOSCanvasId, motor);
        datasetFilter(CURPOSCanvasId, motor);
    }

    async function pollServer() {
        const alphabetArray = ['X', 'Y', 'Z'];
        for(var i = 0; i < 3; i++)  {
            const latestRecord = await fetchDataSingular(`MACPOS${i+1}`);
            MACPOSData.shift();
            MACPOSData.push(latestRecord);
            shiftLineChartData(MACPOSCanvasId, `Motor ${alphabetArray[i]}`, latestRecord);
            document.getElementById(`latest-${alphabetArray[i]}-chart1`).innerHTML = latestRecord[0].Value;
        }
        for(var i = 0; i < 3; i++)  {
            const latestRecord = await fetchDataSingular(`MATPOS${i+1}`);
            MATPOSData.shift();
            MATPOSData.push(latestRecord);
            shiftLineChartData(MATPOSCanvasId, `Motor ${alphabetArray[i]}`, latestRecord);
            document.getElementById(`latest-${alphabetArray[i]}-chart2`).innerHTML = latestRecord[0].Value;
        }
        for(var i = 0; i < 3; i++)  {
            const latestRecord = await fetchDataSingular(`SCAPOS${i+1}`);
            SCAPOSData.shift();
            SCAPOSData.push(latestRecord);
            shiftLineChartData(SCAPOSCanvasId, `Motor ${alphabetArray[i]}`, latestRecord);
            document.getElementById(`latest-${alphabetArray[i]}-chart3`).innerHTML = latestRecord[0].Value;
        }
        for(var i = 0; i < 3; i++)  {
            const latestRecord = await fetchDataSingular(`CurrentPosition${i+1}`);
            CURPOSData.shift();
            CURPOSData.push(latestRecord);
            shiftLineChartData(CURPOSCanvasId, `Motor ${alphabetArray[i]}`, latestRecord);
            document.getElementById(`latest-${alphabetArray[i]}-chart4`).innerHTML = latestRecord[0].Value;
        }
    }
</script>
{% endblock%}