{% extends 'base.html' %}
{% block content %}
<div class="flexbox overall-flexbox">
    <div class="chart-container">
        <div class="flexbox">
            <div class="motorId">Motor X<br>
                <div class="latestValue" id="latest-X-chart1">0</div>
            </div>
            <div class="motorId">Motor Y<br>
                <div class="latestValue" id="latest-Y-chart1">0</div>
            </div>
            <div class="motorId">Motor Z<br>
                <div class="latestValue" id="latest-Z-chart1">0</div>
            </div>
            <div class="motorId">Spindle<br>
                <div class="latestValue" id="latest-Spindle-chart1">0</div>
            </div>
        </div>
        <canvas id="GainChart"></canvas>
        <div class="flexbox">
            <button id="buttonX1" class="motor-button selected-button">
                Motor X</button>
            <button id="buttonY1" class="motor-button selected-button">
                Motor Y</button>
            <button id="buttonZ1" class="motor-button selected-button">
                Motor Z</button>
            <button id="buttonSpindle1" class="motor-button selected-button">
                Spindle</button>
        </div>
    </div>
    <div class="chart-container">
        <div class="flexbox">
            <div class="motorId">Motor X<br>
                <div class="latestValue" id="latest-X-chart2">0</div>
            </div>
            <div class="motorId">Motor Y<br>
                <div class="latestValue" id="latest-Y-chart2">0</div>
            </div>
            <div class="motorId">Motor Z<br>
                <div class="latestValue" id="latest-Z-chart2">0</div>
            </div>
            <div class="motorId">Spindle<br>
                <div class="latestValue" id="latest-Spindle-chart2">0</div>
            </div>
        </div>
        <canvas id="DroopChart"></canvas>
        <div class="flexbox">
            <button id="buttonX2" class="motor-button selected-button">
                Motor X</button>
            <button id="buttonY2" class="motor-button selected-button">
                Motor Y</button>
            <button id="buttonZ2" class="motor-button selected-button">
                Motor Z</button>
            <button id="buttonSpindle2" class="motor-button selected-button">
                Spindle</button>
        </div>
    </div>
    <div class="chart-container">
        <div class="flexbox">
            <div class="motorId">Motor X<br>
                <div class="latestValue" id="latest-X-chart3">0</div>
            </div>
            <div class="motorId">Motor Y<br>
                <div class="latestValue" id="latest-Y-chart3">0</div>
            </div>
            <div class="motorId">Motor Z<br>
                <div class="latestValue" id="latest-Z-chart3">0</div>
            </div>
        </div>
        <canvas id="SpeedChart"></canvas>
        <div class="flexbox">
            <button id="buttonX3" class="motor-button selected-button">
                Motor X</button>
            <button id="buttonY3" class="motor-button selected-button">
                Motor Y</button>
            <button id="buttonZ3" class="motor-button selected-button">
                Motor Z</button>
        </div>
    </div>
    <div class="chart-container">
        <div class="flexbox">
            <div class="motorId">Spindle<br>
                <div class="latestValue" id="latest-Spindle-chart4">0</div>
            </div>
        </div>
        <canvas id="LoadChart"></canvas>
        <div class="flexbox">
            <button id="buttonSpindle4" class="motor-button selected-button">
                Spindle</button>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    // Global vars/accessible data objects
    var gainData, droopData, speedData, loadData;
    var timerId;
    const gainCanvasId = 'GainChart';
    const droopCanvasId = 'DroopChart';
    const speedCanvasId = 'SpeedChart';
    const loadCanvasId = 'LoadChart';

    // Event listeners
    // Future reference: There is a more efficient way of doing this but I have time constraints
    // Refer to: https://stackoverflow.com/questions/49680484/how-to-add-one-event-listener-for-all-buttons
    document.getElementById("buttonX1").addEventListener("click", () => onFilterButtonClick('X', 1));
    document.getElementById("buttonY1").addEventListener("click", () => onFilterButtonClick('Y', 1));
    document.getElementById("buttonZ1").addEventListener("click", () => onFilterButtonClick('Z', 1));
    document.getElementById("buttonSpindle1").addEventListener("click", () => onFilterButtonClick('Spindle', 1));
    document.getElementById("buttonX2").addEventListener("click", () => onFilterButtonClick('X', 2));
    document.getElementById("buttonY2").addEventListener("click", () => onFilterButtonClick('Y', 2));
    document.getElementById("buttonZ2").addEventListener("click", () => onFilterButtonClick('Z', 2));
    document.getElementById("buttonSpindle2").addEventListener("click", () => onFilterButtonClick('Spindle', 2));
    document.getElementById("buttonX3").addEventListener("click", () => onFilterButtonClick('X', 3));
    document.getElementById("buttonY3").addEventListener("click", () => onFilterButtonClick('Y', 3));
    document.getElementById("buttonZ3").addEventListener("click", () => onFilterButtonClick('Z', 3));
    document.getElementById("buttonSpindle4").addEventListener("click", () => onFilterButtonClick('Spindle', 4));
    document.addEventListener('DOMContentLoaded', async () => {
        gainData = await fetchDataGroupLimited('Gain', 51);
        gainData.reverse();
        createGainChart();
        droopData = await fetchDataGroupLimited('Droop', 51);
        droopData.reverse();
        createDroopChart();
        speedData = await fetchDataGroupLimited('Speed', 51);
        speedData.reverse();
        createSpeedChart();
        loadData = await fetchDataGroupLimited('Load', 51);
        loadData.reverse();
        createLoadChart();
        timerId = setInterval(pollServer, 1000);
    });

    function createGainChart() {
        const gainLabels = createLabels(gainData, 'X'); // Second parameter can be any of the dataset names (it is supposed to be kinda inaccurate)
        const gainDataset = createDataset(gainData, ['X', 'Y', 'Z', 'Spindle']);
        // Create line chart with datasets for 'Gain'
        createLineChart(gainCanvasId, gainLabels, gainDataset, 'Gain');
    }

    function createDroopChart() {
        const droopLabels = createLabels(droopData, 'X'); // Second parameter can be any of the dataset names (it is supposed to be kinda inaccurate)
        const droopDataset = createDataset(droopData, ['X', 'Y', 'Z', 'Spindle']);
        // Create line chart with datasets for 'MAXCUR'
        createLineChart(droopCanvasId, droopLabels, droopDataset, 'Droop');
    }

    function createSpeedChart() {
        const speedLabels = createLabels(speedData, 'X'); // Second parameter can be any of the dataset names (it is supposed to be kinda inaccurate)
        const speedDataset = createDataset(speedData, ['X', 'Y', 'Z', 'Spindle']);
        // Create line chart with datasets for 'Speed'
        createLineChart(speedCanvasId, speedLabels, speedDataset, 'Speed');
    }

    function createLoadChart() {
        const loadLabels = createLabels(loadData, 'Spindle'); // Second parameter can be any of the dataset names (it is supposed to be kinda inaccurate)
        const loadDataset = createDataset(loadData, ['Spindle']);
        // Create line chart with datasets for 'Load'
        createLineChart(loadCanvasId, loadLabels, loadDataset, 'Load');
    }

    function onFilterButtonClick(motor, chartNo) {
        const button = document.getElementById(`button${motor}${chartNo}`);
        button.classList.toggle("selected-button");
        switch(chartNo) {
            case 1:
                datasetFilter(gainCanvasId, motor);
                break;
            case 2:
                datasetFilter(droopCanvasId, motor);
                break;
            case 3:
                datasetFilter(speedCanvasId, motor);
                break;
            case 4:
                datasetFilter(loadCanvasId, motor);
                break;
        }
    }

    async function pollServer() {
        const alphabetArray = ['X', 'Y', 'Z', 'Spindle'];
        const systemTime = new Date().getTime();
        // Shift x-axis labels for gainChart
        let chart = Chart.getChart(document.getElementById(gainCanvasId).getContext('2d'));
        chart.data.labels.push(systemTime);
        chart.data.labels.shift();
        for(var i = 0; i < 3; i++)  {
            const latestRecord = await fetchDataSingular(`ServoMonitor_Gain${i+1}`);
            gainData.shift();
            gainData.push(latestRecord);
            shiftLineChartData(gainCanvasId, `${alphabetArray[i]}`, latestRecord);
            document.getElementById(`latest-${alphabetArray[i]}-chart1`).innerHTML = latestRecord[0].Value;
        }  
        var latestRecord = await fetchDataSingular('SpindleMonitor_Gain1');
        gainData.shift();
        gainData.push(latestRecord);
        shiftLineChartData(gainCanvasId, `${alphabetArray[3]}`, latestRecord);
        document.getElementById(`latest-${alphabetArray[3]}-chart1`).innerHTML = latestRecord[0].Value;
        // Shift x-axis labels for droopChart
        chart = Chart.getChart(document.getElementById(droopCanvasId).getContext('2d'));
        chart.data.labels.push(systemTime);
        chart.data.labels.shift();
        for(var i = 0; i < 3; i++)  {
            const latestRecord = await fetchDataSingular(`ServoMonitor_Droop${i+1}`);
            droopData.shift();
            droopData.push(latestRecord);
            shiftLineChartData(droopCanvasId, `${alphabetArray[i]}`, latestRecord);
            document.getElementById(`latest-${alphabetArray[i]}-chart2`).innerHTML = latestRecord[0].Value;
        }
        latestRecord = await fetchDataSingular('SpindleMonitor_Droop1');
        gainData.shift();
        gainData.push(latestRecord);
        shiftLineChartData(droopCanvasId, `${alphabetArray[3]}`, latestRecord);
        document.getElementById(`latest-${alphabetArray[3]}-chart2`).innerHTML = latestRecord[0].Value;
        // Shift x-axis labels for speedChart
        chart = Chart.getChart(document.getElementById(speedCanvasId).getContext('2d'));
        chart.data.labels.push(systemTime);
        chart.data.labels.shift();
        for(var i = 0; i < 3; i++)  {
            const latestRecord = await fetchDataSingular(`Speed${i+1}`);
            speedData.shift();
            speedData.push(latestRecord);
            shiftLineChartData(speedCanvasId, `${alphabetArray[i]}`, latestRecord);
            document.getElementById(`latest-${alphabetArray[i]}-chart3`).innerHTML = latestRecord[0].Value;
        }
        // Shift x-axis labels for loadChart
        chart = Chart.getChart(document.getElementById(loadCanvasId).getContext('2d'));
        chart.data.labels.push(systemTime);
        chart.data.labels.shift();
        for(var i = 0; i < 1; i++)  {
            const latestRecord = await fetchDataSingular(`Load${i+1}`);
            loadData.shift();
            loadData.push(latestRecord);
            shiftLineChartData(loadCanvasId, `${alphabetArray[3]}`, latestRecord);
            document.getElementById(`latest-${alphabetArray[3]}-chart4`).innerHTML = latestRecord[0].Value;
        }
    }
</script>
{% endblock%}