{% extends 'base.html' %}
{% block content %}
<div class="flexbox overall-flexbox">
    <div class="chart-container">
        <div class="flexbox">
            <div class="motorId">Motor X<br>
                <div class="latestValue" id="latest-X-chart1">0</div>
            </div>
            <div class="motorId">Motor Y<br>
                <div class="latestValue" id="latest-Y-chart1">0</div>
            </div>
            <div class="motorId">Motor Z<br>
                <div class="latestValue" id="latest-Z-chart1">0</div>
            </div>
        </div>
        <canvas id="RemComChart"></canvas>
        <div class="flexbox">
            <button id="buttonX1" class="motor-button selected-button">
                Motor X</button>
            <button id="buttonY1" class="motor-button selected-button">
                Motor Y</button>
            <button id="buttonZ1" class="motor-button selected-button">
                Motor Z</button>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    // Global vars/accessible data objects
    var RemComData;
    var timerId;
    const RemComCanvasId = 'RemComChart';

    // Event listeners
    document.getElementById("buttonX1").addEventListener("click", () => onFilterButtonClick('X', 1));
    document.getElementById("buttonY1").addEventListener("click", () => onFilterButtonClick('Y', 1));
    document.getElementById("buttonZ1").addEventListener("click", () => onFilterButtonClick('Z', 1));
    document.addEventListener('DOMContentLoaded', async () => {
        RemComData = await fetchDataGroupLimited('RemainCommand', 51);
        RemComData.reverse();
        createRemComChart();
        timerId = setInterval(pollServer, 1000);
    });

    // Function to update the 'Remain Command' line chart
    function createRemComChart() {
        const RemComLabels = createLabels(RemComData, 'X'); // Second parameter can be any of the dataset names (it is supposed to be kinda inaccurate)
        const RemComDataset = createDataset(RemComData, ['X', 'Y', 'Z']);
        // Create line chart with dataset for 'Current'
        createLineChart(RemComCanvasId, RemComLabels, RemComDataset, 'Remain Command');
    }

    function onFilterButtonClick(motor, chartNo) {
        const button = document.getElementById(`button${motor}${chartNo}`);
        button.classList.toggle("selected-button");
        datasetFilter(RemComCanvasId, motor);
    }

    async function pollServer() {
        const alphabetArray = ['X', 'Y', 'Z'];
        const systemTime = new Date().getTime();
        // Shift x-axis labels for RemComChart
        let chart = Chart.getChart(document.getElementById(RemComCanvasId).getContext('2d'));
        chart.data.labels.push(systemTime);
        chart.data.labels.shift();
        for(var i = 0; i < 3; i++)  {
            const latestRecord = await fetchDataSingular(`RemainCommand${i+1}`);
            RemComData.shift();
            RemComData.push(latestRecord);
            shiftLineChartData(RemComCanvasId, `Motor ${alphabetArray[i]}`, latestRecord);
            document.getElementById(`latest-${alphabetArray[i]}-chart1`).innerHTML = latestRecord[0].Value;
        }
    }
</script>
{% endblock%}