{% extends 'base.html' %}
{% block content %}
    <div id="tableSection">
        <h1>Table</h1>
        <button onclick="downloadCSV()">Download CSV</button>

        <h2>
            <form>
                <label for="nodeId">Select a NodeId:</label>
                <select id="nodeId" name="nodeId" onchange="updateTable()">
                    {% for group_name, node_ids in field_groups.items() %}
                    {% for node_id in node_ids %}
                    <option value="{{ node_id }}">{{ node_id }}</option>
                    {% endfor %}
                    {% endfor %}
                </select>
            </form>
        </h2>

        <table id="data-table">
            <thead>
                <tr>
                    <th>NodeKey</th>
                    <th>NodeId</th>
                    <th>Value</th>
                    <th>Datatype</th>
                    <th>Size</th>
                    <th>Quality</th>
                    <th>SourceTimeStamp</th>
                    <th>ServerTimeStamp</th>
                </tr>
            </thead>
            <tbody>
                {% for row in data %}
                <tr>
                    <td>{{ row['NodeKey'] }}</td>
                    <td>{{ row['NodeId'] }}</td>
                    <td>{{ row['Value'] }}</td>
                    <td>{{ row['Datatype'] }}</td>
                    <td>{{ row['Size'] }}</td>
                    <td>{{ row['Quality'] }}</td>
                    <td>{{ row['SourceTimeStamp'] }}</td>
                    <td>{{ row['ServerTimeStamp'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
{% block script %}
    <script>        
        async function updateTable() {
            // request db data from server
            const selectedNodeId = document.getElementById('nodeId').value;
            console.log(selectedNodeId);
            const data = await fetchDataTable(selectedNodeId);

            const tbody = document.getElementById('data-table').getElementsByTagName('tbody')[0];
            tbody.innerHTML = '';
            
            data.forEach(row => {
                // Check if the row's NodeId matches the selected NodeId
                if (row['NodeId'] === selectedNodeId) {
                    const newRow = document.createElement('tr');
                    newRow.innerHTML = `
                <td>${row.NodeKey}</td>
                <td>${row.NodeId}</td>
                <td>${row.Value}</td>
                <td>${row.Datatype}</td>
                <td>${row.Size}</td>
                <td>${row.Quality}</td>
                <td>${row.SourceTimeStamp}</td>
                <td>${row.ServerTimeStamp}</td>
            `;
                    tbody.appendChild(newRow);
                }
            });
        }
    </script>
{% endblock%}